@import "tailwindcss";

@theme {
  --color-primary: #5F7161;
  --color-secondary: #E7AB79;
  --color-background: #F4F4F4;
  --color-text-primary: #2C3333;
  
  --font-serif: var(--font-playfair);
  --font-sans: var(--font-inter);
}

/* Base styles to apply the theme */
body {
  background-color: var(--color-background);
  color: var(--color-text-primary);
  font-family: var(--font-sans);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
}